* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/*Register*/

.contain {
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
}

.contain input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.contain input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.contain img {
  width: 200px; 
  height: auto;  
  display: block; 
  margin: 0 auto 20px;
}

.goinbutton {
  background-color: black;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  transition: 0.4s ease;
}

.goinbutton:hover{
  background-color: rgb(8, 82, 8);
}

#registr a {
  color: dodgerblue;
}

.login{
  background-color: white;
  text-align: center;
}

form {border: none;} 

.zabb_loz a{
  text-decoration: none;
  color: black;
}

.zabb_loz a:hover{
  color: rgb(82, 79, 79);
}

/*----------------------------------*/

.modal_log {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal_log_content {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  margin-top: 200px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
}

#forgotEmail {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  font-size: 16px;
}

.send_email_adm {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.send_email_adm:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}