.content-container {
    margin: 0 90px; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

#firsthead {
    background-color: rgba(140, 214, 131, 0.3);
}

#firstnavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#firstnavbar .logo {
    font-size: 18px;
    font-weight: bold;
}

#firstnavbar .logo-imag {
    width: 70px; 
    height: auto;
    margin-right: 2px;
}

#firstnavbar .icon {
    font-size: 24px;
    margin-right: 10px;
}

#firstnavbar .profile {
    position: relative;
    cursor: pointer;
}

#firstnavbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
    color: #000;
    font-size: 16px; 
    padding: 10px; 
}

#firstnavbar .profile:hover .dropdown-content {
    display: block;
}

#firstnavbar .profile .dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 5px; 
}

#firstnavbar .profile .dropdown-content a:hover {
    color: #444; 
    font-weight: bold;
}

#firstnavbar .basket-profile {
    display: flex;
    align-items: center;
}

#firstnavbar .basket-profile a {
    text-decoration: none;
    color: black;
}

#firstnavbar .basket {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#firstnavbar .basket-profile .basket.emp-basket {
    color: black;
}

#firstnavbar .basket-profile .basket.fill-basket {
    color: rgb(255, 218, 30);
    transition: color 0.3s ease;
}

#firstnavbar .basket-profile .basket.fill-basket:hover {
    color: rgba(255, 204, 0, 0.947);
}

#firstnavbar .articles {
    margin-right: 5px;
    margin-top: 5px;
}

#navbar {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
}

#mjestaOdabira {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}

#mjestaOdabira .pro-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#mjestaOdabira .pro-container a {
    color: rgb(6, 77, 1);
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
    border: 2px solid transparent;
}

#mjestaOdabira .pro-container a:hover {
    color: rgb(6, 77, 1);
    border-color: rgb(6, 77, 1, 0.5);
    background-color: #f2f2f2;
}

#mjestaOdabira .pro-container a.active {
    color: #f2f2f2;
    background-color: rgb(6, 77, 1, 0.8);
    border-color: rgb(6, 77, 1, 0.5);
}

.is-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}

/*-----------unos destinacije------------*/

button.send_normal{
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    color: aliceblue;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#destinacija_opis{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#destinacija_opis .prviopis{
    width: 40%;
}

#destinacija_opis .prviopis h2{
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
    padding-right: 30px;
    text-align: center;
    font-weight: 400;
    
}

.content-container #destinacija_unos form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-container #destinacija_unos form span{
    font-size: 14px;
}

.content-container #destinacija_unos form input,
.content-container #destinacija_unos form textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.content-container #destinacija_unos form input:focus,
.content-container #destinacija_unos form textarea:focus{
    background-color: #ddd;
    outline: none;
}

.content-container #destinacija_unos form button:hover{
    background-color: rgb(8, 82, 8);
}

/*---------------------------------------*/

/*--------ispis destinacija admin--------*/

td {
    font-size: 15px;
}

table, th, td {
    border: 1px solid #c8c8c8;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    padding-left: 20px;
    border-collapse: separate;
    
}

table th{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: rgb(6, 77, 1, 0.8);
    color: white;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
} 

table tr {
    border-bottom: 1px solid #c8c8c8;
}

.opis-column {
    width: 40%;
}

td img {
    margin-bottom: 5px;
}

/*---------------------------------------*/

#destinacijeFront {
    margin-top: 50px;
}

#destinacijeFront .prviopis {
    color: #686868;
    margin-left: 110px;
}

.destinacijeNaFront {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.destinacijaWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.kampDestinacija {
    width: calc(70% - 20px);
    border: 1px solid rgba(140, 214, 131, 0.3);
    border-radius: 10px;
    padding: 0px;
    background-color: rgba(140, 214, 131, 0.3);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    height: 250px;
    position: relative;
}

.kampDestinacija img {
    width: 400px; 
    height: 300px;
    margin-right: 10px;
    mask-image: linear-gradient(to bottom, transparent, black);
}

.kampDestinacija .tekst {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 10px 10px 10px 0;
}

.kampDestinacija .cijenaEuriFront {
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 77, 1);
    margin-top: 10px;
    margin-right: 5px;
}

.kampDestinacija .cijenaKuneFront {
    font-size: 16px;
    color: rgb(81, 81, 81);
    margin-right: 5px;
}

.kampDestinacija h3 {
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 23px;
    font-weight: bold;
    text-align: left; 
}

.kampDestinacija .podrucjeFront {
    font-size: 16px;
    color: rgb(169, 169, 169);
    margin-bottom: 10px;
    font-weight: bold;
}

.kampDestinacija p {
    margin: 0;
    text-align: left; 
    color: rgb(81, 81, 81);
}

.kampDestinacija a {
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 5px;
    align-self: flex-end;
    background-color: rgb(6, 77, 1, 0.8);
    border-radius: 20px;
    padding: 10px 15px;
    transition: background-color 0.5s ease; 
}

.kampDestinacija a:hover {
    background-color: rgb(45, 167, 28);
    color: white;
}

.kampDestinacija .cijeneGumb {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.kampDestinacija .ocjena {
    margin-top: 10px;
    margin-right: 12px;
    color: #f0c040; 
    font-size: 20px;
}

/*----------------details----------------*/

#destinationDetails {
    text-align: center;
    padding: 20px;
}

#destinationDetails .destinationDetailsWrapper {
    margin: 20px auto;
    max-width: 900px; 
    text-align: left;
}

#destinationDetails h2 {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
}

#destinationDetails .podrucjeFront {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

#destinationDetails .naziv-podrucje {
    text-align: center;
}

#destinationDetails .slike-container {
    margin: 20px auto;
    max-width: 1000px; 
    display: flex;
    justify-content: center; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#destinationDetails .slika-container img {
    width: 600px; 
    height: 450px;
    margin: 6px;
    opacity: 0;
    border-radius: 10px;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#destinationDetails .slike-container img:first-child {
    animation-delay: 1s;
}

#destinationDetails .slike-container img:last-child {
    animation-delay: 2s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#destinationDetails p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}

#destinationDetails .mojDatumFront {
    font-weight: bold;
    margin-top: 25px;
    color: rgb(81, 81, 81);
    font-size: 20px;
}

#destinationDetails .kolikoFront {
    margin-top: 25px;
    color: rgb(81, 81, 81);
    font-size: 20px;
}

#destinationDetails .cijenaEuriFront {
    font-weight: bold;
    color: rgb(6, 77, 1);
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 3px;
}

#destinationDetails .cijenaKuneFront {
    color: rgb(81, 81, 81);
    font-size: 16px;
    margin-bottom: 20px;
}

.back-button {
    margin-top: 30px;
    margin: 20px auto;
    max-width: 900px; 
    text-align: left;
}

.back-button .butn {
    font-size: 20px;
    transition: background-color 0.5s ease;
    background-color: transparent; 
    color: #444; 
    border: none;
    padding: 0; 
    margin-right: 10px;
    font-weight: normal; 
    text-decoration: none;
}

.back-button .butn:hover {
    color: #096613;  
    background-color: transparent; 
}

.reservation-form {
    text-align: center;
    margin: 20px auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 500px;
    background-color: rgba(140, 214, 131, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.reservation-form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.reservation-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.reservation-form button {
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 5px;
    align-self: flex-end;
    background-color: rgb(6, 77, 1, 0.8);
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.5s ease;
}

.reservation-form button:hover {
    background-color: rgb(45, 167, 28);
    color: white;
}

.comments-section {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ffffff;
    background-color: rgba(184, 231, 178, 0.3);
    margin: 20px auto;
    max-width: 900px; 
    text-align: left;
}

.comments-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comments-section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comments-section form button {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    background-color: rgb(6, 77, 1, 0.8);
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.5s ease;
}

.comments-section form button:hover {
    background-color: rgb(45, 167, 28);
    color: white;
}

.comments-list {
    margin-top: 40px;
    margin: 20px auto;
    max-width: 900px; 
    text-align: left;
}

.comment {
    padding: 10px;
    border: 3px solid rgba(140, 214, 131, 0.3);
    margin-bottom: 15px;
}

.comment-text {
    margin-bottom: 5px;
}

.comment-user {
    font-style: italic;
    color: #888;
}

.rating {
    margin-top: 40px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px; 
    text-align: left;
}

.rating h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: -16px;
}

.stars {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.star {
    font-size: 30px;
    color: gray; 
    cursor: pointer;
    transition: color 0.3s ease;
}

.star:hover {
    color: #FFD700;
}

.user-rating {
    margin-left: -16px;
}

/*---------------------------------------*/

/*----------------store------------------*/

.store-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.store-intro {
    text-align: center;
    margin: 40px 20px;
    padding: 0 20px;
}

.store_first_intro {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    margin-top: 60px;
}

.store_second_intro {
    font-style: italic;
}

.product-item-container {
    flex: 0 0 calc(25% - 20px);
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(140, 214, 131, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    overflow: hidden; 
}

.product-item img {
    max-width: 100%; 
    height: 220px; 
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item .nazivStore {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 10px;
    align-self: flex-start;
}

.product-item .euriStore {
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 77, 1);
    margin-top: 30px;
    margin-bottom: 5px;
    align-self: center;
}

.product-item .kuneStore {
    margin-bottom: 10px;
    color: #666;
    font-size: 15px;
    margin-bottom: 10px;
    align-self: center;
}

/*---------------------------------------*/

/*--------------pro-detail---------------*/

.product-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.left-column {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
    max-height: 500px; 
    overflow: hidden; 
}

.slikaDetails {
    max-width: 100%;
    max-height: 500px;
    height: auto; 
}

.right-column {
    flex: 1;
    display: inline-block;
    flex-direction: column;
}

.nazivStoreDet {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bojaStoreDet {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.euriStoreDet {
    font-size: 30px;
    font-weight: bold;
    color: rgb(6, 77, 1);
    margin-top: 20px;
    margin-bottom: 5px;
}

.kuneStoreDet {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    display: inline-block;
    background-color: rgb(6, 77, 1, 0.8);
    color: #fff;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    margin-top: 20px; 
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: rgb(45, 167, 28);
    color: white;
}

.add-to-cart-none {
    display: inline-block;
    background-color: rgba(63, 160, 56, 0.4);
    color: #fff;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-to-cart-none:hover {
    background-color: rgba(63, 160, 56, 0.4);
    color: #fff;
}

/*---------------------------------------*/

/*----------------article----------------*/

.articles-intro {
    text-align: center;
    margin: 40px 20px;
    padding: 0 20px;
}

.clanci_first_intro {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

.clanci_second_intro {
    font-style: italic;
}

#articles {
    padding: 20px;
}

.article {
    display: flex;
    border: 1px solid #ddd;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInArticle 0.8s ease forwards;
}

.article-image {
    flex: 1;
    max-width: 600px;
    height: auto;
}

@keyframes fadeInArticle {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.article-content {
    flex: 2;
    padding: 20px;
}

.article-title {
    font-size: 24px;
    margin-top: 0;
}

.article-text {
    margin-top: 20px;
    line-height: 1.6;
}

/*---------------------------------------*/

/*--------------footer-------------------*/

.footer-green {
    position: relative;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
}

.footer-green::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images_base/footer_img_water.jpg);
    background-size: cover;
    background-position: center top;
    filter: brightness(50%);
    z-index: -1;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-left p {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.footer-left img {
    width: 200px;
    height: 140px;
}

.footer-right {
    flex: 2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-right p {
    font-size: 16px;
    margin-top: 5px;
    color: white;
}

.footer-right a {
    font-size: 16px;
    margin-top: 5px; 
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    padding: 5px 0;
}

.footer-right .artFoot {
    margin-left: -15px;
}

.footer-right a:hover {
    color: rgb(177, 177, 177);
    text-decoration: none;
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-section .footer-left {
    flex: 1;
    margin-left: 50px;
}

.footer-section .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-section .footer-left p {
    font-size: 15px;
    text-align: left;
    margin: 0;
}

.footer-section .footer-right p {
    font-size: 15px;
    margin: 0;
    text-align: left;
    margin-left: 150px;
}

.footer-section .footer-right .my_add {
    margin-top: 30px;
}

.footer-section .footer-right .my_mail {
    margin-top: 10px;
}

/*---------------------------------------*/

/*----------------mojKamp----------------*/

.header_container {
    display: flex;
    align-items: center; 
    text-align: left;
    margin-top: 10px;
}

.header_container h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    margin-top: 5px;
}

.header_container .back-button {
    margin-right: 10px;
    margin-left: 0; 
}

.header_container .back-button .butn {
    font-size: 30px; 
    font-weight: bold; 
}

.header_container .back-button .butn:hover {
    color: #4d4d4d;
    background-color: transparent;
}

.camp-list {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: 20px;
}

.camp-item-container {
    flex: 0 0 calc(33.33% - 20px);
}

.camp-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d1e3d6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.camp-item .podrucjeFront {
    font-size: 18px;
    color: #666;
    margin-top: -5px;
    margin-bottom: 15px;
}

.camp-item img {
    max-width: 100%; 
    height: 200px; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 10px;
}

.camp-item .delete-link {
    text-decoration: none;
    color: rgb(173, 9, 9);
}

.camp-item .delete-link:hover {
    font-weight: bold;
}

#myCamp h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*---------------------------------------*/

/*--------------notice-------------------*/

.alert-info {
    background-color: #f0f8ff;
    color: #000;
    border: 1px solid #87ceeb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-info h4 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.alert-info p {
    font-size: 16px;
    margin-bottom: 5px;
}

.alert-info .message {
    font-size: 14px;
}

/*---------------------------------------*/

/*-----------------cart------------------*/

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(140, 214, 131, 0.5);
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 65%; 
    justify-content: flex-start; 
}

.cart-item img {
    max-width: 100%;
    height: 200px;
    margin-right: 20px;
    margin-left: 10px;
}

.cart-product-info {
    display: flex;
    flex-direction: column; 
    margin-right: auto; 
    margin-bottom: 130px;
}

.cart-product-info p {
    margin: 0;
}

.cart-product-info .in-cart-naziv {
    font-size: 20px;
}

.cart-product-info .in-cart-boja {
    font-size: 15px;
    color: #666;
    margin-top: 10px;
}

.remove-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-top: 1px;
}

.cart-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: -20px;
}

.cart-price .cijenaKune {
    font-size: 15px;
    color: #666;
}

.cart-price .cijenaEuri {
    font-size: 20px;
    color: #666;
    font-weight: bold;
}

.remove-button-from-cart {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s;
    margin-bottom: 100px; 
    margin-right: -10px;
    color: rgb(173, 9, 9);
}

.remove-button-from-cart:hover {
    color: rgb(173, 9, 9);
    text-decoration: none;
    font-weight: bold;
}

.cart-summary {
    width: 30%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(238, 221, 135, 0.4);
    border: 2px solid rgba(247, 232, 74, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.checkout-section {
    margin-top: 10px;
    margin-left: 40px;
    text-align: right;
}

.checkout-section p {
    font-size: 18px;
    color: #333;
    font-style: italic;
    margin-bottom: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #45a049;
}

/*---------------------------------------*/

.modal-buy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content-buy {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 50px auto 0;
    text-align: center;
    position: relative;
}

.modal-content-buy h2{
    margin-bottom: 20px;
    font-style: italic;
}

.custom-close-class {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red; 
    font-size: 24px;
}

.custom-label-class {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    color: rgb(54, 54, 54); 
}

.custom-input-class {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0; 
    color: #333; 
}

#confirmPurchase {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirmPurchase:hover {
    background-color: #45a049;
}
